<!doctype html>
<html lang="ja" >
  <head>
    <title>Checkout example for Bootstrap</title>
    <link rel="canonical" href="https://getbootstrap.jp/docs/5.3/examples/checkout/">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="/assets/index.css" rel="stylesheet">
  </head>
  <body>
    <a id="skippy" class="sr-only sr-only-focusable" href="#content">
      <div class="container">
        <span class="skiplink-text">Skip to main content</span>
      </div>
    </a>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container px-4 px-lg-5">
        <%= link_to "Interior Shop",products_path, class:"navbar-brand", data: { turbo: false } %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
            <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#!">All Products</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="#!">Popular Items</a></li>
                <li><a class="dropdown-item" href="#!">New Arrivals</a></li>
              </ul>
            </li>
          </ul>
          <%= link_to cart_items_path , data: { turbo: false } do %>
            <button class="btn btn-outline-dark bi-cart-fill">
              Cart
              <span class="badge bg-dark text-white ms-1 rounded-pill"><%= @cart_items.count %></span>
            </button>
          <% end %>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="py-5">
        <div class="row">
          <div class="col-md-4 order-md-2 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
              <span class="text-muted">カート</span>
              <span class="badge badge-secondary badge-pill"><%= @cart_items.count %></span>
            </h4>
            <ul class="list-group mb-3">
              <% @cart_items.each do |cart_item| %>
                <li class="list-group-item d-flex justify-content-between lh-condensed border border-1">
                  <div>
                    <h6 class="my-0"><%= cart_item.product.name %></h6>
                    <small class="text-muted">数量：<%= cart_item.quantity %></small>
                  </div>
                  <div class="justify-content-end">
                    <small class="text-muted"><%= cart_item.line_total %>円</small>
                    <%= link_to "",cart_item_path(cart_item), class:"btn btn-outline-danger bi bi-trash", data: { "turbo-method": :delete} %>
                  </div>
                </li>
              <% end %>
              <li class="list-group-item d-flex justify-content-between border border-1">
                <span>合計金額</span>
                <strong><%= @total %>円</strong>
              </li>
            </ul>
            <form class="card p-2">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Promo code">
                <div class="input-group-append">
                  <button type="submit" class="btn btn-secondary">利用する</button>
                </div>
              </div>
            </form>
          </div>
          <div class="col-md-8 order-md-1">
            <%= form_with model: Order.new, url: orders_path, local: true, data: { turbo: false }  do |form| %>
              <h4 class="mb-3">配送先情報</h4>
              <div class="row">
                <div class="col-md-6 mb-3">
                  <%= form.label :first_name, '姓' %>
                  <%= form.text_field :first_name, class: "form-control", :placeholder => '鈴木' %>
                </div>
                <div class="col-md-6 mb-3">
                  <%= form.label :last_name, '名' %>
                  <%= form.text_field :last_name, class: "form-control", :placeholder => '一郎' %>
                </div>
              </div>
              <div class="mb-3">
                <%= form.label :user_name, 'ユーザー名' %>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">@</span>
                  </div>
                  <%= form.text_field :user_name, class: "form-control", :placeholder => 'Username' %>
                </div>
              </div>
              <div class="mb-3">
                <%= form.label :email, 'メールアドレス' %>
                <%= form.text_field :email, class: "form-control", :placeholder => 'example@example.com' %>
              </div>
              <div class="row">
                <div class="col-md-4 mb-3">
                  <%= form.label :postal_code, '郵便番号' %>
                  <%= form.text_field :postal_code, class: "form-control", :placeholder => '105-0001' %>
                </div>
                <div class="col-md-4 mb-3">
                  <%= form.label :prefecture, '都道府県' %>
                  <%= form.text_field :prefecture, class: "form-control", :placeholder => '東京都' %>
                </div>
              </div>
              <div class="mb-3">
                <%= form.label :address1, '住所1' %>
                <%= form.text_field :address1, class: "form-control", :placeholder => '渋谷区神宮前' %>
              </div>
              <div class="mb-3">
                <%= form.label :address2, '住所2' %>
                <%= form.text_field :address2, class: "form-control", :placeholder => 'アパート・マンション名、部屋番号' %>
              </div>
              <hr class="mb-4">
              <h4 class="mb-3">クレジットカード情報</h4>
              <%= form.fields_for :credit do |credit_form| %>
                <div class="row">
                  <div class="col-md-6 mb-3">
                    <%= credit_form.label :name, '名前' %>
                    <%= credit_form.text_field :name, class: "form-control", :placeholder => 'ICHIRO SUZUKI' %>
                  </div>
                  <div class="col-md-6 mb-3">
                    <%= credit_form.label :number, 'カード番号' %>
                    <%= credit_form.text_field :number, class: "form-control", :placeholder => '1234 1234 1234 1234' %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3 mb-3">
                    <%= credit_form.label :expiration, '有効期限' %>
                    <%= credit_form.text_field :expiration, class: "form-control", :placeholder => 'MM/YY' %>
                  </div>
                  <div class="col-md-3 mb-3">
                    <%= credit_form.label :cvv, 'CVV' %>
                    <%= credit_form.text_field :cvv, class: "form-control", :placeholder => '123' %>
                  </div>
                </div>
              <% end %>
              <hr class="mb-4">
              <%= form.text_field :billing_amount, value: @total, style: "display: none;" %>
              <div class><%= form.submit "購入する", class: "btn btn-primary btn-lg btn-block" %></div>
            <% end %>
          </div>
        </div>
        <footer class="my-5 pt-5 text-muted text-center text-small">
          <p class="mb-1">&copy; 2017-2018 Company Name</p>
          <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Privacy</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Support</a></li>
          </ul>
        </footer>
      </div>
      <%# <script src="../../assets/js/vendor/holder.min.js"></script>
<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function() {
    'use strict';

    window.addEventListener('load', function() {
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.getElementsByClassName('needs-validation');

      // Loop over them and prevent submission
      var validation = Array.prototype.filter.call(forms, function(form) {
        form.addEventListener('submit', function(event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();
</script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>
  window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')
</script><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script><script src="/docs/4.3/assets/js/vendor/anchor.min.js"></script>
<script src="/docs/4.3/assets/js/vendor/clipboard.min.js"></script>
<script src="/docs/4.3/assets/js/vendor/bs-custom-file-input.min.js"></script>
<script src="/docs/4.3/assets/js/src/application.js"></script>
<script src="/docs/4.3/assets/js/src/search.js"></script>
<script src="/docs/4.3/assets/js/src/ie-emulation-modes-warning.js"></script>
<script src="/app/javascript/index.js"></script> %>
    </body>
  </html>
