<div class="col mb-5">
  <div class="card h-100">
    <!-- Product image-->
    <%= image_tag product.image %>
    <!-- Product details-->
    <div class="card-body p-4">
      <div class="text-center">
        <!-- Product name-->
        <h5 class="fw-bolder"><%= link_to product.name, product_path(product) %></h5>
        <!-- Product price-->
        <p><%= product.price %>円</p>
      </div>
    </div>
    <!-- Product actions-->
    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
      <div class="text-center">
          <%= form_with model: @cart_item, local: true, data: { turbo: false } do |form| %>
            <%= form.text_field :product_id, value: product.id, style: "display: none;" %>
            <%= form.text_field :quantity, value: 1, style: "display: none;" %>
            <%= form.submit "Add to Cart", class: "btn btn-outline-dark" %>
          <% end %>
      </div>
    </div>
  </div>
</div>
